.DS_Store
dist
node_modules
reports
lerna-debug.log
yarn-error.log
*.tsbuildinfo
*.vsix
goldens/models
goldens/temp
packages/**/yarn.lock
website/build
website/docs/api/*.md
website/.docusaurus
packages/extension/.vscode-test
*.patch
betterer.*.log
.betterer.cache
