.DS_Store
dist
node_modules
reports
lerna-debug.log
*.tsbuildinfo
*.vsix
goldens/models
goldens/temp
website/build
website/docs/api/*.md
website/.docusaurus
packages/extension/.vscode-test
*.patch
betterer.*.log
.betterer.cache
.betterer.*.mjs
.eslintcache
