.DS_Store
dist
node_modules
reports
lerna-debug.log
yarn-error.log
tsconfig.tsbuildinfo
*.vsix
**/*.snap
test/__snapshots__/**
**/yarn.lock
**/*.gif
**/*.ico
**/*.png
.betterer.results
.gitignore
.npmrc
.prettierignore
.yarnrc