.DS_Store
dist
fixtures
goldens
node_modules
reports
lerna-debug.log
yarn-error.log
tsconfig.tsbuildinfo
*.vsix
**/*.snap
test/__snapshots__/**
**/yarn.lock
**/*.gif
**/*.ico
**/*.png
.betterer.results
.bettererignore
.gitignore
.npmrc
.prettierignore
.yarnrc
*.patch
CHANGELOG.md