.DS_Store
.betterer.cache
.betterer.results
.husky
.gitattributes
.gitignore
.lintstagedrc
.npmrc
.prettierignore
.vscode-test
CHANGELOG.md
dist
fixtures
goldens
node_modules
reports
lerna-debug.log
test/__snapshots__/**
tsconfig.tsbuildinfo
website/build
website/.docusaurus
website/static/.nojekyll
website/static/videos/start.mp4
website/static/videos/watch.mp4
*.patch
*.vsix
**/*.snap
**/*.gif
**/*.ico
**/*.png
