@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Mono|Roboto+Slab&display=swap');

html,
body {
  scroll-behavior: smooth;
  font-size: 14px;
  background-color: rgb(235, 255, 0);
  min-width: 420px;
}

a {
  color: currentColor;
}
code {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -3px;
}

h1,
h2,
h3 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px red;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

h4,
h5,
h6,
p,
li,
span,
button {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 8rem;
  line-height: 11rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 4rem;
  line-height: 5.5rem;
  margin: 1.5rem 0;
}

hr {
  margin: 3rem 0;
}

em {
  font-style: italic;
}

.typography--hero {
  color: rgb(235, 255, 0);
}

.typography--emphasised {
  text-align: center;
  font-style: italic;
}

header {
  text-align: center;
  height: 100vh;
  display: flex;
  background: linear-gradient(
    300deg,
    rgba(180, 190, 0, 1) 0%,
    rgba(235, 255, 0, 1) 30%
  );
}

.header__container {
  justify-content: center;
  align-self: center;
  width: 100%;
}

.header__logo {
  font-size: 8rem;
}

.header__name {
  display: inline-block;
}

.header__name a {
  color: currentColor;
  text-decoration: none;
}

.header__get-started-snippet {
  width: 100%;
  height: 120px;
  border: 0;
  overflow: hidden;
}

main {
  width: 70%;
  padding: 1rem 15%;
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
}

main ol {
  list-style: decimal;
}

main p,
main li,
main span {
  font-size: 1.25rem;
  line-height: 2rem;
}

main ol li {
  margin: 2rem 1rem;
}

main span {
  width: 100%;
  text-align: center;
}
.how__betterer-file-snippet {
  width: 140%;
  height: 270px;
  border: 0;
  overflow: hidden;
  margin: 0px -20%;
}

.how__betterer-run-snippet {
  width: 140%;
  height: 120px;
  border: 0;
  overflow: hidden;
  margin: 0px -20%;
}

.how__running-video-container {
  text-align: center;
  margin: 3rem auto;
}

.how__running-video {
  width: 130%;
  margin: 0 -15%;
  max-width: 640px;
  outline-color: yellow;
}

.footer__container {
  margin: 2rem;
}
.footer__link {
  display: inline-block;
}
