name: 'build'
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build:
    runs-on: ${{ matrix['operating-system'] }}

    strategy:
      matrix:
        node-version: [12.x, 14.x]
        operating-system: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use node.js ${{ matrix['node-version'] }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix['node-version'] }}
      - name: Install dependencies
        uses: sergioramos/yarn-actions/install@master
        with:
          frozen-lockfile: true
      - name: Run build
        run: yarn build:ci
