name: 'build'
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build:
    runs-on: ${{ matrix['operating-system'] }}

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        operating-system: [windows-latest, macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use node.js ${{ matrix['node-version'] }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix['node-version'] }}
      - name: Run install
        run: npm install
      - name: Run build
        run: npm run build:ci
